/*     POST     */
body.post {
    main {
        .page-content {
            margin: 32px 32px 40px;
            h1 {
                color: $pink;
                font-size: 28px;
                margin: 0 auto;
                margin-bottom: 20px;
                max-width: 660px;
            }
            h3 {
                color: $green;
                font-size: 14px;
                font-weight: 400;
                margin: 0 auto;
                margin-bottom: 24px;
                max-width: 660px;
            }
            div.inner {
                margin: 0 auto;
                max-width: 660px;
            }
        }
    }
    @media only screen and (min-width: $tablet) {
        main {
            .page-content {
                margin: 80px 80px 160px;
                h1 {
                    @include flexfont(28px,60px,$tablet,$desktop);
                    margin-bottom: 32px;
                }
                h3 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    @media only screen and (min-width: $desktop) {
        main {
            .page-content {
                h1 {
                    font-size: 60px;
                }
            }
        }
    }
}
body.archive {
    background-color: $white;
    main {
        .page-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 80px 10px 160px; 
        }
    }
}