/*      HEADER      */
#dc-header {
    position: fixed;
    background: $white;
    height: 100px;
    width: 100%;
    transition: .2s all ease-in-out;
    z-index: 10000;
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        height: 100%;
        width: 100%;
    }
    #site-logo {
        margin: 0px;
        height: 34px;
        width: 148px;
    }
    &.persist {
        height: 90px;
        transition: .2s all ease-in-out;
    }
}
@media only screen and (min-width: $tablet) {
    #dc-header {
        height: 150px;
        .inner {
            padding: 0 24px;
            margin: 0 auto;
            max-width: 1664px;
        }
        #site-logo {
            margin: 0px;
            height: 60px;
            width: 269px;
        }
        &.persist {
            height: 108px;
        }
    }
}
/*    HEADER NAV    */
nav#header-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100px;
    max-width: 100vw;
    z-index: 1000;
    ul li, ul li a { 
        font-family: $headfont;
        font-size: 40px;
        text-transform: uppercase;
        margin-right: 15px;
        :after { display: none; }
    }
    ul#mobile-menu {display: none;}
    ul#unmobile-menu {
        display: none;
        visibility: hidden;
    }
}
@media only screen and (min-width: $tablet) {
    nav#header-nav {
        position: relative;
        top: unset;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 960px;
        ul {
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 0px;
            margin: 0;
            &#unmobile-menu { display: flex; visibility: visible; }
            &.site-nav {
                flex: 1 0 auto;
                margin: 0 0 0 auto;
                max-width: 440px;
                li {
                    display: block;
                    color: $black;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 0px;
                    margin: 0 0 0 auto;
                    transition: .2s all ease-in-out;
                    a {
                        display: block;
                        color: $black;
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 12px 13px;
                        margin: 0px;
                    }
                    &:hover {
                        cursor: pointer;
                        background: $pink;
                        color: $white;
                        transition: .2s all ease-in-out;
                        a {
                            color: $white;
                        }
                    }
                    &.active {

                    }
                }
            }
            &.social-nav {
                position: relative;
                top: unset;
                left: unset;
                margin-left: 8%;
            }
        }
    }
}
/*      FOOTER      */ 
footer#site-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: $green;
    div.inner {
    }
    #subfooter {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        padding: 36px;
        max-width: 1664px;
         a {
            color: $white;
            text-decoration: underline;
        }
        a:hover {
            color: $pink;
        }
        .social-nav {
            flex: 1 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin: 0 auto 36px;
            width: 100%;
            z-index: 100;
            li {
                padding: 0px;
                margin: 0px;
                a {
                    color: white;
                    i.fab {
                        font-size: 24px;
                    }
                    &:after {
                        display: none;
                    }
                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
        #footer-text-block {
            img {
                display: block;
                margin-bottom: 12px;
                width: 116px;
            }
            span {
                color: white;
                font-size: 10px;
            }
        }
    }
    @media only screen and (min-width: $tablet) {
        #subfooter {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            height: 160px;
            .social-nav {
                margin: 0 0 0 auto;
                max-width: 200px;
            }
            #footer-text-block {
                img {
                    margin-bottom: 36px;
                    height: 48px;
                    width: 212px;
                }
                span {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}
/*       HOMEPAGE HERO       */
section#homepage-hero {
    div.inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;
        width: 100%;
        max-width: 1920px;
        .color-block-container.hero-image-block {
            margin-bottom: 0px;
            img {
                width: 96%;
            }
        }
        .color-block-container.hero-text-block {
            margin: -54px 0px auto auto;
            width: 87%;
            .hero-title-bkgd {
                position: relative;
                background: $green;
                color: $white;
                font-size: 20px;
                font-weight: 400;
                padding: 33px 36px;
                margin: 0px 0px auto auto;
                width: 94.6%;
                z-index: 1;
            }
        }
        .triangle {
            position: relative;
            margin: -80px 0px 0px auto;
            mix-blend-mode: multiply;
            z-index: 1000;
        }
        .lower-text-block {
            font-size: 18px;
            padding: 33px 36px 33px 0px;
            margin: 0px auto 0 13%;
            width: 87%;
        }
        .yellow-line {
            display: block;
            background: $yellow;
            margin: 0px 0px 0px auto;
            height: 10px;
            width: 87%;
        }
    }
    @media only screen and (min-width: $tablet) {
        margin-bottom: 240px;
        div.inner {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            .color-block-container.hero-image-block {
                flex-basis: 61%;
                margin: 0px auto auto 0px;
                img {
                    margin: 0px -5% 0px 5%;
                    width: 100%;
                }
                .color-block {
                    width: 33.8%;
                }
            }
            .color-block-container.hero-text-block {
                flex-basis: 36%;
                margin: 5% auto 0px -20%;
                .hero-title-bkgd {
                    @include flexfont(20px,30px,$tablet,$desktop);
                    padding: 12% 12%;
                    margin: 0px;
                    width: 100%;
                }
            }
            .triangle {
                flex-basis: 100%;
                margin: -13.5% 0px 120px 81.9%;
                max-width: 18.1%;
            }
            .lower-text-block {
                flex-basis: 100%;
                @include flexfont(20px,30px,$tablet,$desktop);
                padding: 0px;
                margin: 0px 32.5% 120px auto;
                max-width: 45.5%;
            }
            .yellow-line {
                flex-basis: 100%;
                height: 30px;
                max-width: 78.1%;
            }
        }
    }
    @media only screen and (min-width: $desktop) {
        div.inner {
            .color-block-container.hero-text-block {
                .hero-title-bkgd {
                    font-size: 48px;
                }
            }
        }
    }
}
/*       HERO       */
section#hero {
    &.seven00 {
        background: #ffffff center center/cover no-repeat;
        height: 158px;
        width: 100%;
        @media only screen and (min-width: $tablet) {
            height: 450px;
        }
    }
    div.inner {
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        width: 100%;
        max-width: 1664px;
        .color-block-container {
            margin: 60px 0px auto auto;
            width: auto;
            .hero-title-bkgd {
                position: relative;
                background: $green;
                color: $white;
                font-size: 30px;
                font-weight: 700;
                padding: 15px 70px 15px 30px;
                margin: 0px 0px auto auto;
                width: 94.6%;
                z-index: 1;
            }
            .color-block {
                bottom: -14%;
                width: 94.6%;
            }
        }
    }
    @media only screen and (min-width: $tablet) {
        div.inner {
            .color-block-container {
                margin: 100px 0px auto auto;
                .hero-title-bkgd {
                    font-size: 80px;
                    padding: 62px 242px 72px 123px;
                }
            }
        }
    }
}
/*      ABOUT       */ 
section#about {
    position: relative;
    padding: 60px 0px 80px;
    margin-bottom: 40px;
    div.inner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        .headline-text {
            .color-block-container {
                margin-left: -40px;
                width: calc(100% + 80px);
            }
            p {
                font-size: 14px;
            }
        }
    }
    @media only screen and (min-width: $tablet) {
        padding: 60px 0px 140px;
        div.inner {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            .color-block-container.desktop-only {
                flex-basis: 50.8%;
                display: flex !important;
                margin: 0px 0px 0px 5%;
            }
            .headline-text {
                flex-basis: 44%;
                padding: 0px 0px 0px 40px;
                margin: 0px 0px 0px auto;
                max-width: 520px;
                p {
                    font-size: 16px;
                }
            }
        }
    }
}
/*      HEADER      */ 
section#header {
    position: relative;
    padding: 60px 0px 80px;
    margin-bottom: 40px;
    div.inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .headline-text {
            .color-block-container {
                margin-left: -40px;
                width: calc(100% + 80px);
            }
            p {
                font-size: 14px;
            }
        }
    }
    @media only screen and (min-width: $tablet) {
        padding: 60px 0px 140px;
        div.inner {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-start;
            .color-block-container.desktop-only {
                flex-basis: 50.8%;
                display: flex !important;
                margin: 0px 5% 0px 0px;
            }
            .headline-text {
                flex-basis: 44%;
                padding: 0px 40px 0px 0px;
                margin: 0px auto 0px 0px;
                max-width: 520px;
                p {
                    font-size: 16px;
                }
            }
        }
    }
}
/*      EVENTS      */ 
section#events {
    padding: 80px 0px;
    div.inner {
        position: relative;
        .js-flickity {
            position: relative;
            padding-bottom: 40px;
            z-index: 100;
            &::after {
                content:'flickity';
                display: none;
            }
            .flickity-viewport {
            }
            .archive-item {
                margin-top: 30px;
                filter:drop-shadow(0px 4px 12px rgba(153, 153, 153, 0.4));
                .text-block-card {
                    height: 280px;
                }
            }
            .flickity-page-dots .dot {
                padding-left: 10px;
            }
        }
        .color-block {
            position: absolute;
            left: 66%;
            bottom: 40px;
            display: block;
            background: $yellow;
            height: 50px;
            width: 150px;
            z-index: 10;
        }
    }
    @media only screen and (min-width: $tablet) {
        div.inner {
            margin: 0 auto;
            max-width: 1664px;
            .headline-text {
                padding: 0px;
                margin: 0 auto;
            }
            .js-flickity {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: 0 40px;
                .archive-item {
                    flex-basis: 30%;
                    margin: 0px 1%;
                    .text-block-card {
                        padding: 0px 12%;
                        height: 350px;
                        p { 
                            @include flexfont(13px,16px,$tablet,$desktop); 
                        }
                    }
                }
                &::after {
                    content:'';
                }
            }
            .color-block {
                left: unset;
                right: 10px;
                bottom: -50px;
                height: 250px;
                width: 230px;
            }
        }
    }
}

/*     CONTACT      */ 
section#contact {
    position: relative;
    padding: 60px 0px;
    div.inner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        img {
            width: 100%;
        }
        .headline-text {
            a {
                color: $black;
            }
            margin-bottom: 40px;
        }
    }
    @media only screen and (min-width: $tablet) {
        div.inner {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            img {
                margin-right: 5%;
                width: 56%;
            }
        }
    }
}
/*   EXPLORE MORE   */
aside#explore-more {
    padding: 0px 0px 30px;
    div.inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 24px;
        margin: 0 auto;
        max-width: 1698px;
        .explore-more-title {
            flex-basis: 100%;
            color: $green;
            font-size: 32px;
            margin-bottom: 50px;
        }
    }
    @media only screen and (min-width: $tablet) {
        padding: 0px 0px 0px;
        div.inner {
            .explore-more-title {
                @include flexfont(60px,86px,$tablet,$desktop);
                margin: 0 auto 120px 15px;
            }
        }
    }
    @media only screen and (min-width: $desktop) {
        div.inner {
            .explore-more-title { font-size: 86px; }
        }
    }
}