<section id="about" class="has-triangle">
    <div class="inner">
        <div class="headline-text">
            <h2 class="headline-left mobile-center">
                Who we are
                <span></span>
            </h2>
            <div class="color-block-container mobile-only purple left">
                <img src="/assets/images/page/about.png" alt="About Digital Commoners" />
                <span class="color-block"></span>
            </div>
            <p class="align-left triangle-text">
                Digital Commoners is a community of practitioners. The many who, outside the walls of Big Tech, are building alternative governance models to steward our digital infrastructures and assets. While our efforts may be varied, we share a common goal: to allow communities agency over the data about them, over the infrastructures they rely on, over the digital assets they create and nurture and the artificial intelligences that automate decisions about them.
            </p>
            <p class="align-left triangle-text">
                Through events, conversations and knowledge sharing we foster collaborations between overlapping groups of technologists, legal professionals and governance experts, as we together learn to create and adopt alternative models to govern digital infrastructures.
            </p>
        </div>
        <div class="color-block-container desktop-only purple left">
            <img src="/assets/images/page/about.png" alt="About Digital Commoners" />
            <span class="color-block"></span>
        </div>
        <img class="triangle left-triangle" src="/assets/images/page/triangle-pink.svg" />
    </div>
</section>
<section id="header" class="has-triangle">
    <div class="inner">
        <div class="headline-text">
            <h2 class="headline-left mobile-center">
                What we value
                <span></span>
            </h2>
            <div class="color-block-container mobile-only green right">
                <img src="/assets/images/page/header.png" alt="Header Digital Commoners" />
                <span class="color-block"></span>
            </div>
                <p class="align-left triangle-text">
                <strong>Rules that govern us, should be created with us.</strong> The policies and rules that affect our lives and ability - both online and off - should be created with us, not enforced on us. 
            </p>
            <p class="align-left triangle-text">
                <strong>Collaboration.</strong> The magnitude of the challenges we face and the work ahead mean we need to break out of our siloes and work together.
            </p>
            <p class="align-left triangle-text">
                <strong>Curiosity, learning and exploration.</strong> Digital Commoners creates spaces for practioners, researchers and policymakers to come together and learn from another's experience. Aim to create ecosystems that encourage exploration & learning and allow us to adapt when circumstances change.
            </p>
        </div>
        <div class="color-block-container desktop-only green right">
            <img src="/assets/images/page/header.png" alt="Header Digital Commoners" />
            <span class="color-block"></span>
        </div>
        <img class="triangle right-triangle" src="/assets/images/page/triangle-purple.svg" />
    </div> 
</section>