<section id="about" class="has-triangle">
    <div class="inner">
        <div class="headline-text">
            <h2 class="headline-left mobile-center">
                Who we are
                <span></span>
            </h2>
            <div class="color-block-container mobile-only purple left">
                <img src="/assets/images/page/about.png" alt="About Digital Commoners" />
                <span class="color-block"></span>
            </div>
            <p class="align-left triangle-text">
                What governance models, rights and infrastructures do we need to democratically govern the digital commons at relevant scales? How can we bring those models about?
            </p>
            <p class="align-left triangle-text">
                Digital Commoners aims to bring together practioners, technologists, legal professionals and academics working on this problem, as well as the many communities seeking to gain control over digital resources (including data).
            </p>
            <p class="align-left triangle-text">
                Through events, conversations and knowledge sharing we hope to foster collaborations between these overlapping group, as we together learn to create and adopt alternative models to govern digital infrastructures.
            </p>
        </div>
        <div class="color-block-container desktop-only purple left">
            <img src="/assets/images/page/about.png" alt="About Digital Commoners" />
            <span class="color-block"></span>
        </div>
        <img class="triangle left-triangle" src="/assets/images/page/triangle-pink.svg" />
    </div>
</section>
<section id="header" class="has-triangle">
    <div class="inner">
        <div class="headline-text">
            <h2 class="headline-left mobile-center">
                What we value
                <span></span>
            </h2>
            <div class="color-block-container mobile-only green right">
                <img src="/assets/images/page/header.png" alt="Header Digital Commoners" />
                <span class="color-block"></span>
            </div>
                <p class="align-left triangle-text">
                <strong>Rules that govern us, should be created with us.</strong> The policies and rules that govern our actions and affordances should be created with us, not enforced on us. 
            </p>
            <p class="align-left triangle-text">
                <strong>Collaboration.</strong> The magnitude of the challenges we face and the work ahead mean we need to break out of our siloes and work together.
            </p>
            <p class="align-left triangle-text">
                <strong>Curiosity, learning and exploration.</strong> Digital Commoners creates spaces for practioners, researchers and policymakers to come together and learn from another's experience. Aim to create ecosystems that encourage exploration & learning and allow us to adapt when circumstances change.
            </p>
        </div>
        <div class="color-block-container desktop-only green right">
            <img src="/assets/images/page/header.png" alt="Header Digital Commoners" />
            <span class="color-block"></span>
        </div>
        <img class="triangle right-triangle" src="/assets/images/page/triangle-purple.svg" />
    </div> 
</section>