<section id="about" class="has-triangle">
    <div class="inner">
        <div class="headline-text">
            <h2 class="headline-left mobile-center">
                About us
                <span></span>
            </h2>
            <div class="color-block-container mobile-only purple left">
                <img src="/assets/images/page/about.png" alt="About Digital Commoners" />
                <span class="color-block"></span>
            </div>
            <p class="align-left">
                What governance models, rights and infrastructures do we need to democratically govern the digital commons at relevant scales? How can we bring those models about?
            </p>
            <p class="align-left">
                Digital Commoners aims to bring together practioners, technologists, legal professionals and academics working on this problem, as well as the many communities seeking to gain control over digital resources (including data).
            </p>
            <p class="align-left">
                Through events, conversations and knowledge sharing we hope to foster collaborations between these overlapping group, as we together learn to create and adopt alternative models to govern digital infrastructures.
            </p>
        </div>
        <div class="color-block-container desktop-only purple left">
            <img src="/assets/images/page/about.png" alt="About Digital Commoners" />
            <span class="color-block"></span>
        </div>
        <img class="triangle left-triangle" src="/assets/images/page/triangle-pink.svg" />
    </div>
</section>
<section id="header" class="has-triangle">
    <div class="inner">
        <div class="headline-text">
            <h2 class="headline-left mobile-center">
                Header
                <span></span>
            </h2>
            <div class="color-block-container mobile-only green right">
                <img src="/assets/images/page/header.png" alt="Header Digital Commoners" />
                <span class="color-block"></span>
            </div>
            <p class="align-left">
                Poutine semiotics hella fingerstache hot chicken selvage pork belly. Blog distillery subway tile, copper mug direct trade selfies humblebrag church-key vice single-origin coffee you probably haven't heard of them messenger bag mumblecore. 
            </p>
            <p class="align-left">
                Tilde affogato plaid, +1 pitchfork street art four loko bicycle rights chartreuse viral fixie polaroid taxidermy bespoke. Tbh flannel edison bulb copper mug, bitters la croix chia echo park. Prism whatever affogato blue bottle post-ironic. 
            </p>
            <p class="align-left">
                Vice gentrify quinoa, irony artisan edison bulb tote bag cold-pressed roof party tousled street art vaporware hoodie. Typewriter taxidermy chicharrones, kale chips woke lyft af coloring book marfa you probably haven't heard of them taiyaki.
            </p>
        </div>
        <div class="color-block-container desktop-only green right">
            <img src="/assets/images/page/header.png" alt="Header Digital Commoners" />
            <span class="color-block"></span>
        </div>
        <img class="triangle right-triangle" src="/assets/images/page/triangle-purple.svg" />
    </div> 
</section>