<section id="contact">
    <div class="inner">
        <img src="/assets/images/page/contact.png" alt="Contact Digital Commoners" />
        <div class="headline-text">
            <h2 class="headline-left mobile-center">
                Get in touch
                <span></span>
            </h2>
            <p class="align-left mobile-center headline-font">For more information, email or send us a message, we’d love to hear from you.</p>
            <h4 class="align-left mobile-center">Email</h4>
            <a class="align-left mobile-center headline-font" href="mailto:info@digitalcommoners.org">info@digitalcommoners.org</a>
        </div>
    </div>
</section>